$desktop-width-content: 1880px;
$mobile-width-content: 95%;

$color-main-content: #fff;
$color-text-main: #000;
$color-text-secondary: #333;
$color-error-text: #A82222;

$linear-stroke: solid 1px rgba(#000, .1);