@use '@/app/constants.scss' as const;

.header{
  position: sticky;
  top: 0;

  background-color: const.$color-main-content;
}

.wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 20px;
  padding-top: 20px;
  margin: auto;

  width: const.$desktop-width-content;
  border-bottom: const.$linear-stroke;

  border-bottom: const.$linear-stroke;
}

.userItems{
  display: flex;
  flex-direction: row;

  gap: 15px;
}

.pagesItems{
  display: flex;
  flex-direction: row;

  gap: 40px;
}

.navMenu{
  display: flex;
  flex-direction: row;

  gap: 40px;
}

.menuItem{
  transition: transform .3s ease-out;

  &:hover{
    transform: translateY(-2px);
  }
}

.menuItemActive{
  font-weight: 500;
}